@charset "utf-8";
/* CSS Document */
body
{
    margin: 0;
    padding: 0; 
    overflow-x: hidden; 
}
.container
{
    width: 100%;
    height: 500px;
    background-color:aliceblue;
}
.header
{
    width: 100%;
    height: 760px;
    background: url("../images/z2592968009857_5ce8bc38d87658b456ffe4135b22abe9_821efc1d40124fc39a583ec34bf61063.jpg");
}
.banner
{
    width: 100%;
    height: 70px;
}
.logo
{
    width:18%;
    height: 70px;
   float: left;
    position: absolute;
    top: 2%;
    left: 2%;
}
.menu
{
    width:80%;
    height: 70px;
   float:right;
    position: relative;
}
.menu ul
{
    list-style: none;
}
.menu ul li
{
 float: left;
 padding: 15px 70px;
 position: relative;
 

}
.menu ul li a
{
    text-decoration: none;
    color: #FFFFFF;
    font-family: menufont;
} 
.menu ul li:hover 
{
    background-color:#CCB8B8;
}
.menu ul li ul
{
    position: absolute;
    left: -40px;
    top: 54px;
    visibility: hidden;
}
.menu ul li ul li
{
    width: 140px;
    background-color:black;
}
.menu ul li:hover ul
{
    visibility: visible;
}
.slider
{
    width: 100%;
    height: 630px;
    padding: 150px;
    box-sizing: border-box;
    font-family: depfont;
    color: aliceblue;
}
@font-face
{
    font-family: depfont;
    src: url("../font/Roboto-Black.ttf");
}
@font-face
{
    font-family: menufont;
    src:url("../font/Roboto-Regular.ttf");
}
@font-face
{
    font-family: menufont2;
    src:url("../font/Roboto-Bold.ttf");
}
.slider1
{
    width: 100%;
    height: 600px;
    padding: 20px 10px 20px 10px;
   }
.slider11
{
    width: 45%;
    height: 560px;
    background-color:darkmagenta;
    background: url("../images/DSC_2718s-796x1024.jpg");
    float: left;
    margin: 20px;
    padding: 80px 80px;
    box-sizing: border-box;
   font-family: menufont;
   font-size: 30px;
    Cursor:pointer;
    position: relative;
} 
.slider11den:hover
{
    opacity: 50%;
}
.slider11den
{
    width: 685px;
    height: 560px;
    background-color: black;
    position: absolute;
    top:0;
    left:0;
    opacity:0%;
    transition: .2s;
}
.sliderchu11
{
    border-bottom: 3px solid;
    color: aliceblue;
    width: 120px;
    margin-top: 50px;
}
.slider12
{
    width: 47%;
    height: 560px;
    background-color:gray;
    float:right;
    margin: 20px;
    position: relative;
    background: url("../images/Gentlewoman.jpg");
    padding:80px 80px;
    box-sizing: border-box;
    font-size: 30px;
    font-family: menufont;
    }
.sliderchu12
{
    border-bottom: 3px solid;
    color: aliceblue;
    width: 121px;
    margin-top: 50px;
}
.bannertrangchu
{
    width: 100%;
    height: 700px;
    background-color: #C2080B;
    background:url("../images/chelsea-boot-nam.png");
    font-family: depfont;
    color:#FFFFFF;
    padding: 18%;
    text-align: center;
    box-sizing: border-box;
    }
.making
{
    width: 100%;
    height: 720px;     
    margin: 20px 0px;
    box-sizing: border-box;
    position: relative;
}
.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  width: 21%;
  font-family: 'menufont2';
  }

.button:hover {background-color:darkgray; color: white;}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.makingchunky 
{
 width: 100%;
 height:300px;
 background-color: none;
 text-align: center;
 position: absolute;
 font-family: 'menufont2';
color: white;
 font-size: 48pt;
 padding-top:5%;
}
.outfit
{
    width: 100%;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 52%;
}
.outfitinspi
{
    width: 100%;
    height: 200px;
    font-family: 'menufont2';
    color: black;
    font-size: 48pt;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 1.2%;
    }
.slidercuoi
{
    width: 100%;
    height: 400px;
    background-color: blue;
    display: flex;
    justify-content: center;
}
.slidercuoi1
{
    width: 31.3%;
    height: 300px;
    float: left;
    margin-right: 2%;
    margin left: 2%;
    align-items: center;
    line-height: 24px;
    }
.bigicon
{
    font-size: 40pt;
    padding-right: 20px;
    transition: .3s;
}
.bigicon:hover
{
transform: scale(1.1);
}
.slidercuoi12
{
    width: 100%;
    height: 100px;
    padding: 20px 10px 20px 10px;
   }